[Unit]
Description=Startup script to launch Slint demo(s) on startup

[Service]
ExecStart=/usr/bin/energy-monitor
Environment="SLINT_KMS_ROTATION=270"

[Install]
WantedBy=multi-user.target